<main>

  <div>
    <ul>
      <p><b>Розміри основних заголовків: h1-h6</b></p>
      <hr />
      <p>Використовується 1 раз на сайті:</p>
      <li><h1>Типографія (h1)</h1></li>
      <hr />
      <p>Використовуэться не більше 2 разів на сайті:</p>
      <li><h2>Типографія (h2)</h2></li>
      <hr />
      <p>Можна використовувати багато разів:</p>
      <li><h3>Типографія (h3)</h3></li>
      <li><h4>Типографія (h4)</h4></li>
      <li><h5>Типографія (h5)</h5></li>
      <li><h6>Типографія (h6)</h6></li>
      <hr />
    </ul>

  </div>
  <br />
  <div>

  </div>

</main>