<main>
  <div>
    <ul>
      <p><b>Розміри основних заголовків: h1-h6</b></p>
      <hr>
      <p>Використовується 1 раз на сайті:</p>
      <li>
        <h1>Типографія (h1)</h1>
      </li>
      <hr>
      <p>Використовуэться не більше 2 разів на сайті:</p>
      <li>
        <h2>Типографія (h2)</h2>
      </li>
      <hr>
      <p>Можна використовувати багато разів:</p>
      <li>
        <h3>Типографія (h3)</h3>
      </li>
      <li>
        <h4>Типографія (h4)</h4>
      </li>
      <li>
        <h5>Типографія (h5)</h5>
      </li>
      <li>
        <h6>Типографія (h6)</h6>
      </li>
      <hr>
    </ul>
  </div>

  <section>
    <div>
      <ul>
        <li class='display-1'>Не семантичний текст
          (class='display-1')</li>
        <li class='display-5'>Не семантичний текст
          (class='display-5')</li>
        <li class='display-6'>Не семантичний текст
          (class='display-6')</li>
        <hr>
      </ul>

      <ul>
        <li><span class='text-muted'>Додатковий текст
            (class='text-muted')</span></li>
        <li><span class='display-6 text-muted'>Додатковий
            текст (class='display-6 text-muted')</span></li>
      </ul>

      <ul>
        <li class="text-center" <h4>Вирівнювання тексту по центру (class="text-center")</h4>
        </li>
        <li class="text-end" <h4>Вирівнювання тексту в кінці (class="text-end")</h4>
        </li>
      </ul>
    </div>
  </section>

  <hr>

  <div class="text-uppercase">
    <ul>
      <li>
        <p>(h2 class="text-uppercase")</p>
        <h2>Верхній регістр</h2>
      </li>
    </ul>
  </div>

  <div class="text-lowercase">
    <ul>
      <li>
        <p>(h2 class="text-lowercase")</p>
        <h2>Нижній регістр</h2>
      </li>
    </ul>
  </div>

  <div class="text-capitalize">
    <ul>
      <li>
        <p>(h2 class="text-capitalize")</p>
        <h2>кожне слово з великої букви</h2>
      </li>
    </ul>
  </div>
  <hr>

  <div>
    <p>Кнопки:</p>
    <br>
    <p>Основна кнопка на сайті:</p>
    <button class="btn btn-primary"><span class="text-uppercase">Кнопка btn-primary</span></button>
  </div>
  <br>
  <div>
    <p>Другорядна кнопка на сайті:</p>
    <button class="btn btn-secondary"><span class="text-uppercase">Кнопка btn-secondary</span></button>
  </div>
  <br>
  <div>
    <p>Кнопка підтвердження на сайті:</p>
    <button class="btn btn-success"><span class="text-uppercase">Кнопка btn-success</span></button>
  </div>
  <br>
  <div>
    <p>Інші різновиди кнопок на сайті:</p>
    <ul>
      <li><button class="btn btn-light"><span class="text-uppercase">Кнопка btn-light</span></button></li>
      <br>
      <li><button class="btn btn-danger"><span class="text-uppercase">Кнопка btn-danger</span></button></li>
      <br>
      <li><button class="btn btn-warning"><span class="text-uppercase">Кнопка btn-warning</span></button></li>
      <br>
      <li><a href="#" class="btn btn-info">Кнопка з посиланням href="#" btn-info</a></li>
      <br>
      <li><button class="btn btn-info"><span class="text-uppercase">Кнопка btn-info</span></button></li>
      <br>
      <li><button class="btn btn-dark"><span class="text-uppercase">Кнопка btn-dark</span></button></li>
      <br>
      <li><button class="btn btn-link"><span class="text-uppercase">Кнопка btn-link</span></button></li>
    </ul>
  </div>
  <hr>
  <br>
  <div>
    <p>Кольоровий текст:</p>
    <p class="text-primary">Колір тексту (class="text-primary")</p>
    <p class="text-secondary">Колір тексту (class="text-secondary")</p>
    <p class="text-success">Колір тексту (class="text-success")</p>
    <p class="text-warning">Колір тексту (class="text-warning")</p>
    <p class="text-muted">Колір тексту (class="text-muted")</p>
  </div>
  <br>
  <hr>

  <div>
    <p>Outline buttons:</p>

    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
  </div>
  <br>
  <hr>

  <div>
    <p>Sizes buttons (розміри кнопок):</p>

    <button type="button" class="btn btn-outline-secondary btn-lg">Велика кнопка (btn-lg)</button>
    <button type="button" class="btn btn-outline-secondary btn-sm">Маленька кнопка (btn-sm)</button>

  </div>
  <br>
  <hr>

  <div>
    <p>Block або Box (коробка для контенту):</p>

    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>

  </div>
  <br>
  <hr>
</main>