<main>
   <div class="row gy-5">

      <section class="col-6">
         {{!-- Card - це компонент, який створює карточку сутності --}}
         <div class="card">
            <img class="card-img-top" src="https://picsum.photos/600/300" alt="product photo">
            <div class="card-body">
               <h5 class="card-title">Карточка товару</h5>
               <p>Опис товару, технічні характеристики, тощо...</p>
               <a href="/web" class="btn btn-primary">Кнопка</a>
            </div>
         </div>
      </section>

      <section class="col-4">
         {{!-- List - це компонент, який створює список --}}
         {{!-- Card Header та Card Footer --}}
         <div class="card">
            <div class="card-header text-bg-primary">
               <div class="display-6">Menu</div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><a href="/" class="btn btn-link">Home</a></li>
               <li class="list-group-item"><a href="/task21" class="btn btn-link">task21</a></li>
               <li class="list-group-item"><a href="/task22" class="btn btn-link">task22</a></li>
            </ul>
            <div class="card-footer">
               <button class="btn btn-outline-secondary btn-sm">Update list</button>
            </div>
         </div>
      </section>

      <section class="col-8">
         {{!-- Tables - це компонент, який створює таблиці --}}
         <table class="table table-striped table-bordered text-bg-success">
            <thead>
               <tr>
                  <th>
                     #id
                  </th>
                  <th>
                     name
                  </th>
                  <th>
                     age
                  </th>
               </tr>
            </thead>

            <tbody>
               <tr>
                  <th>
                     1
                  </th>
                  <td>
                     Jhon
                  </td>
                  <td>
                     34
                  </td>
               </tr>
               <tr>
                  <th>
                     3
                  </th>
                  <td>
                     Ivan
                  </td>
                  <td>
                     35
                  </td>
               </tr>
               <tr>
                  <th>
                     4
                  </th>
                  <td>
                     Ivan
                  </td>
                  <td>
                     35
                  </td>
               </tr>
               <tr>
                  <th>
                     5
                  </th>
                  <td>
                     Ivan
                  </td>
                  <td>
                     35
                  </td>
               </tr>
            </tbody>
         </table>
      </section>

      <section class="col-6">
         {{!-- Background color - це додатковий class name, який дає можливість зафарбувати фон компонента. --}}
         {{!-- text-bg-primary визначає основний колір --}}
         {{!-- text-bg-secondary визначає додатковий колір --}}
         {{!-- text-bg-success визначає зелений (успішний) колір --}}
         {{!-- text-bg-danger визначає червоний (небезпечний) колір --}}
         {{!-- text-bg-warning визначає жовтий (попереджувальний) колір --}}
         {{!-- text-bg-info визначає блакитний (інформаційний) колір --}}
         {{!-- text-bg-light визначає світлий колір --}}
         {{!-- text-bg-dark визначає темний колір --}}

         <div class="card text-bg-secondary">
            <img class="card-img-top" src="https://picsum.photos/600/300" alt="product photo">
            <div class="card-body">
               <h5 class="card-title">Карточка товару</h5>
               <p>Опис товару, технічні характеристики, тощо...</p>
               <a href="/web" class="btn btn-primary">Кнопка</a>
            </div>
         </div>
      </section>

      <section class="col-12">
         <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body">
               <h6 class="card-title">Title</h6>
               <p>Будь який контент в нашому боксі.. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod
                  dolor
                  aliquid et sequi corrupti, laboriosam magnam optio unde, provident nostrum, accusamus beatae delectus
                  eveniet totam aperiam nisi sint voluptatum doloremque!</p>
               <button class="btn btn-light">Click</button>
               <div class="card-footer text-center">Footer</div>
            </div>
         </div>
      </section>

      <section class="col-12">
         {{!-- Сітка - це підхід до верстки інтерфейсів, в якому ми розділяємо наш контент на 12 колонок --}}
         {{!-- row визначає рядок стовпців у сітковій системі --}}
         {{!-- сol-* визначає ширину стовпців у системі сітки --}}
         {{!-- (замініть * на число від 1 до 12, щоб визначити скільки стовпців має охоплювати ваш елемент) --}}
         {{!-- g-* визначає вертикальний та горизонтальний розрив
         замініть * на число від 1 до 5, щоб визначити на скільки великими мають бути відступи --}}

         {{!-- gy-* визначає вертикальний розрив --}}

         {{!-- gx-* визначає горизонтальний розрив --}}

         <div class="row gy-3 gx-2">

            <div class="col-4">
               <div class="card text-bg-primary">
                  <div class="card-header text-center">Header</div>
                  <div class="card-body">
                     <h6 class="card-title">Title</h6>
                     <p>Будь який контент в нашому боксі..</p>
                     <button class="btn btn-light">Click</button>
                     <div class="card-footer text-center">Footer</div>
                  </div>
               </div>
            </div>

            <div class="col-4">
               <div class="card text-bg-secondary">
                  <div class="card-header text-center">Header</div>
                  <div class="card-body">
                     <h6 class="card-title">Title</h6>
                     <p>Будь який контент в нашому боксі..</p>
                     <button class="btn btn-light">Click</button>
                     <div class="card-footer text-center">Footer</div>
                  </div>
               </div>
            </div>

            <div class="col-4">
               <div class="card text-bg-secondary">
                  <div class="card-header text-center">Header</div>
                  <div class="card-body">
                     <h6 class="card-title">Title</h6>
                     <p>Будь який контент в нашому боксі..</p>
                     <button class="btn btn-light">Click</button>
                     <div class="card-footer text-center">Footer</div>
                  </div>
               </div>
            </div>

            <div class="col-4">
               <div class="card text-bg-secondary">
                  <div class="card-header text-center">Header</div>
                  <div class="card-body">
                     <h6 class="card-title">Title</h6>
                     <p>Будь який контент в нашому боксі..</p>
                     <button class="btn btn-light">Click</button>
                     <div class="card-footer text-center">Footer</div>
                  </div>
               </div>
            </div>

            <div class="col-4">
               <div class="card text-bg-secondary">
                  <div class="card-header text-center">Header</div>
                  <div class="card-body">
                     <h6 class="card-title">Title</h6>
                     <p>Будь який контент в нашому боксі..</p>
                     <button class="btn btn-light">Click</button>
                     <div class="card-footer text-center">Footer</div>
                  </div>
               </div>
            </div>

            <div class="col-4">
               <div class="card text-bg-secondary">
                  <div class="card-header text-center">Header</div>
                  <div class="card-body">
                     <h6 class="card-title">Title</h6>
                     <p>Будь який контент в нашому боксі..</p>
                     <button class="btn btn-light">Click</button>
                     <div class="card-footer text-center">Footer</div>
                  </div>
               </div>
            </div>

         </div>
      </section>

   </div>
</main>