{{#with main}}
<main class="card p-2">

  <div class="row">
    <section class="card-body col-6">
      <div class="card-title mb-3">
        {{>title data='My educationss' big=true}}
      </div>
      <ul>
        {{#each educations}}
        <li><i class="bi bi-arrow-down-right-circle"></i> {{name}} {{#if isEnd}} {{else}}
          (ще в процесі..) {{/if}}</li>
        {{/each}}
      </ul>
    </section>

    <section class="card-body col-6">
      <div class="card-title mb-3">
        {{>title data='My certificates'}}
      </div>
      <ul>
        {{#each certificates}}
        <li><i class="bi bi-arrow-down-right-circle"></i> {{name}} ({{id}})</li>
        {{/each}}
      </ul>
    </section>
  </div>

</main>
{{/with}}