<main>

  <section>
    <div class="card">
      <div class="card-body">
        <p class="display-6">Список сторінок</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptate quia facere ipsam impedit,
          eveniet, ab voluptas quasi exercitationem sit possimus. Eaque tempore inventore earum blanditiis atque ea
          reiciendis voluptatibus!</p>
      </div>
  </section>

  <section>
    {{> buttons-for-index }}
  </section>

</main>