<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{#each breadcrumb}}
        <li class="breadcrumb-item">
            <a class="{{#if @last}} breadcrumb-item active {{/if}}" href="{{url}} {{#unless url}}#{{/unless}}" {{#if
                @last}} aria-current="page" {{/if}} target="_blank">{{name}}</a>
        </li>
        {{/each}}
    </ol>
</nav>