{{#with data}}
<form class="contact" action="#">
   <div class="mb-3 mt-3">
      <label for="surname" class="form-label">{{label}}</label>
      <input type="text" class="form-control mb-2"
         id="name" placeholder="{{placeholder}}"
         name="name">
      <div class="form-text">{{caption}}</div>
   </div>
</form>
{{/with}}