<div class="form-check">
   {{#each options}}
   <div class="mb-2">
      <label class="form-check-label">{{value}}</label>
      <input class="form-check-input" name="quiz"
         type="checkbox">
   </div>
   {{/each}}
</div>
<hr>