{{#with data}}
<form>
   <label class="form-label">{{label}}</label>
   <select class="form-select form-select-lg p-3">
      <option selected disabled>{{placeholder}}</option>
      {{#each options}}
      <option>{{value}}. {{text}}</option>
      {{/each}}
   </select>
</form>
{{/with}}