<nav>
    {{> link text="Skills" href="/skills" }}
    {{> link text="Summary" href="/summary" line=true }}
    {{> link text="Education" href="/education" }}
    {{> link text="Work history" href="/work" noLine=true}}
</nav>