<nav>
    <button type="button" class="btn btn-outline-info">{{> link text="Skills" href="/skills" }}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Summary" href="/summary" }}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Education" href="/education" }}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Work history" href="/work"}}</button>

    <button type="button" class="btn btn-outline-info">{{> link text="Person" href="/person"}}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="BIO" href="/bio"}}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="Program" href="/program"}}</button>
    <button type="button" class="btn btn-outline-info">{{> link text="WEB" href="/web"}}</button>

    <button type="button" class="btn btn-outline-info">{{> link text="JS" href="/js"}}</button>
</nav>